<h2 class="titulo-lista">Ventas Registradas</h2>

<div class="ventas-lista" *ngIf="ventasRegistradas.length > 0; else sinVentas">
  <div class="venta-card" *ngFor="let v of ventasRegistradas">
    <p><strong>Cliente:</strong> {{ v.cliente }}</p>
    <p><strong>Producto:</strong> {{ v.producto }}</p>
    <p><strong>Cantidad:</strong> {{ v.cantidad }}</p>
    <p><strong>Precio Unitario:</strong> {{ '$' + v.precioUnitario.toFixed(0) }}</p>
    <p><strong>Total:</strong> {{ '$' + v.total.toFixed(0) }}</p>
  </div>
</div>

<ng-template #sinVentas>
  <p class="mensaje-sin-ventas">No hay ventas registradas aún.</p>
</ng-template>

<!-- Botón para mostrar formulario -->
<button *ngIf="!mostrarFormulario" class="btn-agregar" (click)="mostrarAgregarVenta()">
  + Agregar Venta
</button>

<!-- Formulario de agregar venta -->
<div class="formulario-venta" *ngIf="mostrarFormulario">
  <h2 class="titulo">Registrar Venta</h2>
  <form (ngSubmit)="guardarVenta()" #form="ngForm">
    <label for="cliente">ID del paciente</label>
    <input
      id="cliente"
      type="text"
      [(ngModel)]="venta.pacienteId"
      name="cliente"
      placeholder="Ej: Antonia Yevenes"
      required
    />

    <label for="producto">ID del producto</label>
    <input
      id="producto"
      type="text"
      [(ngModel)]="venta.productoId"
      name="producto"
      placeholder="Ej: Paracetamol 500mg"
      (change)="actualizarPrecioYTotal()"
      required
    />

    <label for="cantidad">Cantidad</label>
    <input
      id="cantidad"
      type="number"
      [(ngModel)]="venta.cantidad"
      name="cantidad"
      placeholder="Ej: 2"
      required
      min="1"
    />

    <label for="precioUnitario">Precio Unitario ($)</label>
    <input
      id="precioUnitario"
      type="number"
      [value]="venta.precioUnitario"
      readonly
    />


    <label for="total">Total ($)</label>
    <input
      id="total"
      type="text"
      [value]="totalFormateado"
      readonly
    />

    <div class="botones-formulario">
      <button type="submit">Guardar Venta</button>
      <button type="button" (click)="cancelarAgregar()">Cancelar</button>
    </div>
  </form>
</div>

<!-- Botón volver arriba -->
<button
  *ngIf="mostrarBotonArriba"
  class="btn-volver-arriba"
  (click)="volverArriba()"
>
  ↑
</button>
