<div class="container">
  <h2>Dispersar Medicamento</h2>

  <label for="inventario">Seleccionar Inventario:</label>
  <select [(ngModel)]="idSeleccionado" id="inventario" class="form-control">
    <option *ngFor="let item of inventario" [value]="item.id">{{ item.producto.nombre }} - Lote: {{ item.lote }}</option>
  </select>

  <label for="cantidad">Cantidad a dispersar:</label>
  <input type="number" [(ngModel)]="cantidad" class="form-control" id="cantidad" />

  <label for="rut">RUT del paciente:</label>
  <input type="text" [(ngModel)]="rutPaciente" class="form-control" id="rut" />

  <button (click)="dispersar()" class="btn btn-primary mt-3">Dispersar</button>
</div>
