$primary-color: #004d40;
$footer-bg: #263238;

.text-primary-custom {
  color: $primary-color;
}

.section-title {
  color: $footer-bg;
  font-weight: 600;
}

.custom-card {
  background-color: #ffffff;
  border: 1px solid lighten($footer-bg, 15%);
  border-radius: 12px;
}

.productos-info-box {
  background-color: #f1f8f7;
  border-left: 4px solid $primary-color;
  padding: 1rem;
  border-radius: 5px;
  max-height: 300px;
  overflow: auto;
}

.bg-instruction {
  background-color: lighten($footer-bg, 10%);
}
