<div class="fraccionamiento-container">
  <h2>Fraccionar Inventario</h2>

  <div class="form-group">
    <label for="inventario">Seleccionar inventario:</label>
    <select [(ngModel)]="idSeleccionado" (change)="onInventarioChange()">
      <option [ngValue]="null">-- Selecciona un inventario --</option>
      <option *ngFor="let item of inventario" [ngValue]="item.idInventario">
        {{ item.producto.nombre }} - Stock: {{ item.stock }} - Lote: {{ item.lote }}
      </option>
    </select>

  </div>


  <div class="form-group">
    <label for="cantidad">Cantidad a fraccionar:</label>
    <input type="number" [(ngModel)]="cantidadFraccionada" min="1" />
  </div>

  <div class="form-group">
    <label for="nuevoLote">Nuevo Lote:</label>
    <input type="text" [(ngModel)]="nuevoLote" readonly />
  </div>

  <button (click)="fraccionar()">Fraccionar</button>
</div>
