<div class="container mt-5">
  <h2 class="text-center mb-4">Exportar informes en excel</h2>
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button">
      Ingreso facturas
    </a>
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button">
      Consumos
    </a>
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button">
      Productos sin movimiento
    </a>
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button"
      (click)="exportarProductosMasVendidos()">
      Productos con mayor movimiento
    </a>
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button"
      (click)="exportarVentasExcel()">
      Histórico Ventas
    </a>
  </div>
</div>
