<header class="header">
  <div class="logo">
    <span>Farmacias Comunales</span>
  </div>

  <nav class="nav-links" [class.open]="isMenuOpen">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/beneficiarios">Beneficiarios</a>

    <a *ngIf="role === 'ADMIN' || role === 'FARMACEUTICO'" routerLink="/ventas">Ventas</a>
    <a *ngIf="role === 'ADMIN' || role === 'FARMACEUTICO'" routerLink="/inventario">Inventario</a>
    <a *ngIf="role === 'ADMIN'" routerLink="/usuarios">Usuarios</a>
    <a *ngIf="role === 'ADMIN'" routerLink="/upload">Cargar archivos</a>
  </nav>

  <div class="profile">
    <span class="username">{{ role }}</span>
    <button (click)="toggleMenu()" class="menu-toggle">☰</button>
    <button (click)="logout()">Cerrar sesión</button>
  </div>
</header>
