<app-public-header></app-public-header>

<div class="contenedor">
  <h2>Listado de Productos y Precios</h2>
  <div class="boton-login">
    <a routerLink="/login" class="btn-ir-login">Iniciar sesión</a>
  </div>

  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of productos">
      <td>{{ p.nombre }}</td>
      <td>{{ p.tipo }}</td>
      <td>{{ p.precio_unitario | currency:'CLP' }}</td>
      <td>{{ p.cantidad_disponible }}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-public-footer></app-public-footer>
