<app-public-header></app-public-header>

<div class="contenedor">
  <h2>Consulta de Productos y Precios</h2>

  <table class="tabla-precios">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Laboratorio</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of productos">
      <td>{{ p.nombre }}</td>
      <td>{{ p.tipo }}</td>
      <td>{{ p.descripcion || 'Sin descripción' }}</td>
      <td>{{ p.precio_unitario | currency:'CLP' }}</td>
      <td>{{ p.laboratorio }}</td>
    </tr>
    </tbody>
  </table>

</div>

<app-public-footer></app-public-footer>
