.contenedor {
  max-width: 1000px;
  margin: 40px 0 40px 40px;;
  padding: 20px;
  text-align: left;
  background-color: #fff;
}

h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.tabla-precios {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  th, td {
    border: 1px solid #ccc;
    padding: 10px 14px;
    text-align: left;
  }

  th {
    background-color: #004d40;
    color: white;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.boton-login {
  margin-top: 20px;

  .btn-volver {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}
