<app-public-header></app-public-header>

<div class="contenedor">
  <h2>Listado de Productos y Precios</h2>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of productos">
      <td>{{ p.id_producto }}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.tipo }}</td>
      <td>{{ p.precio_unitario | currency:'CLP' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<app-public-footer></app-public-footer>
