<div class="container mt-5">
  <h2 class="text-center mb-4">Cargar Datos</h2>
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button"
      (click)="redirigir('inventario')">
      Cargar Inventarios
    </a>
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button"
      (click)="redirigir('pacientes')">
      Cargar lista de pacientes
    </a>
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button"
      (click)="redirigir('precios')">
      Cargar lista de precios
    </a>
    <a
      class="list-group-item list-group-item-action"
      tabindex="0"
      role="button"
      (click)="redirigir('carga-documentos-compra')">
      Cargar factura o guías de despacho
    </a>
    <!-- Agrega más opciones según tus necesidades -->
  </div>
</div>

