table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #005c4b;
  color: white;
  padding: 10px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
