<div class="contenedor">
  <h2>Listado de Pacientes</h2>

  <button (click)="exportarAExcel()" class="btn-exportar">
    📥 Exportar a Excel
  </button>

  <h3>Pacientes Beneficiarios</h3>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Dirección</th>
      <th>Beneficiario</th>
      <th>Farmacia</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of pacientesBeneficiarios">

    <td>{{ p.nombre }}</td>
      <td>{{ p.edad }}</td>
      <td>{{ p.direccion }}</td>
      <td>Sí</td>
      <td>{{ p.nombre_farmacia }}</td>
      <td>
        <button (click)="eliminar(p.id_paciente)" class="btn btn-danger btn-sm">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h3>Pacientes No Beneficiarios</h3>
  <table>
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Dirección</th>
      <th>Beneficiario</th>
      <th>Farmacia</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of pacientesNoBeneficiarios">
      <td>{{ p.nombre }}</td>
      <td>{{ p.edad }}</td>
      <td>{{ p.direccion }}</td>
      <td>No</td>
      <td>{{ p.nombre_farmacia }}</td>
      <td>
        <button (click)="eliminar(p.id_paciente)" class="btn btn-danger btn-sm">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>


  <ng-template #sinPacientes>
    <p>No hay pacientes cargados.</p>
  </ng-template>
</div>
