 <div class="formulario-usuario">
<h2 class="titulo">Registrar Usuario</h2>
   <form (ngSubmit)="guardarUsuario()" #form="ngForm" class="formulario">
    <label for="nombre">Nombre</label>
    <input
      id="nombre"
      type="text"
      [(ngModel)]="usuarioDTO.nombre"
      name="nombre"
      placeholder="Ej: Paula"
      required
    />

    <label for="apellido">Apellido</label>
    <input
      id="apellido"
      type="text"
      [(ngModel)]="usuarioDTO.apellido"
      name="apellido"
      placeholder="Ej: Veloso"
      required
    />

    <label for="correo">Correo</label>
    <input
      id="correo"
      type="email"
      [(ngModel)]="usuarioDTO.correo"
      name="correo"
      placeholder="Ej: ana@example.com"
      required
    />

    <label for="rol">Rol</label>
    <select
      id="rol"
      [(ngModel)]="usuarioDTO.idRol"
      name="idRol"
      required
    >
      <option value="">Seleccione un rol</option>
      <option [value]="1">ADMIN</option>
      <option [value]="2">BODEGUERO</option>
      <option [value]="3">FARMACEUTICO</option>
      <option [value]="4">USUARIO</option>
    </select>


    <label for="estado">Estado</label>
    <input
      id="estado"
      type="text"
      [(ngModel)]="usuarioDTO.estado"
      name="estado"
      placeholder="Ej: Activo"
    />

    <label for="password">Contraseña</label>
    <input
      id="password"
      type="password"
      [(ngModel)]="usuarioDTO.password"
      name="password"
      required
    />

     <label for="rol">Farmacia</label>
     <select
       id="nombreFarmacia"
       [(ngModel)]="usuarioDTO.nombre_farmacia"
       name="nombreFarmacia"
       required
     >
       <option value="">Seleccione una farmacia</option>
     </select>


    <button type="submit">Guardar Usuario</button>
  </form>
</div>

<h2 class="titulo-lista">Usuarios Registrados</h2>
<div class="usuarios-lista">
  <div class="usuario-card" *ngFor="let u of usuarios">
    <p><strong>Nombre:</strong> {{ u.nombre }} {{ u.apellido }}</p>
    <p><strong>Correo:</strong> {{ u.correo }}</p>
    <p><strong>Estado:</strong> {{ u.estado }}</p>
    <p><strong>Rol:</strong> {{ u.rol.id }}</p>
    <!-- Selector de Estado -->
    <td>
      <select [(ngModel)]="u.estado">
        <option value="">Seleccione un estado</option>
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
      </select>
    </td>

    <!-- Selector de Rol -->
    <td>
      <select [(ngModel)]="u.rol.id">
        <option value="">Seleccione un rol</option>
        <option [value]="1">ADMIN</option>
        <option [value]="2">BODEGUERO</option>
        <option [value]="3">FARMACEUTICO</option>
        <option [value]="4">USUARIO</option>
      </select>
    </td>

    <div class="acciones">
      <button (click)="editarUsuario(u)">Editar</button>
      <button (click)="eliminarUsuario(u.id)">Eliminar</button>
    </div>
  </div>
</div>
